<div
  class="flex flex-col sm:flex-row items-center justify-between p-4 border-b border-[#87635A]"
>
  <!-- Items in cart -->
  <div class="flex items-center p-2">
    <div>
      <p class="text-base font-semibold">
        {{ item.product.name }}
      </p>
      <div class="flex items-center justify-between text-base">
        <h2 class="font-extrabold text-[#C73B0F]">{{ item.quantity }}x</h2>
        <p class="text-[#87635A] font-medium">
          &#64; ${{ item.product.price }}
        </p>
        <p class="text-[#87635A] font-extrabold">
          {{ item.product.price * item.quantity | currency }}
        </p>
      </div>
    </div>
  </div>
  <div class="flex items-center mt-2 sm:mt-0">
    <button
      class="border-2 rounded-full border-[#87635A] p-1 sm:p-2"
      (click)="removeItem(item)"
    >
      <img
        src="../../assets/images/icon-remove-item.svg"
        alt="Remove item"
        class="w-3 h-3 sm:w-4 sm:h-4 object-cover text-[#87635A] font-bold"
      />
    </button>
  </div>
</div>
